td{
    color: red;
}
input{
    background-color: orange;
    color: black;
    height: 14px;
}
#btn{
    background-color: green;
    position: absolute;
    left: 49%;
    height: 40px;
    width: 90px;
}
select{
    background-color: orange;
}
